
.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: lightblue;
}


#text {
  font-size: 100px;
  background: lightgreen;
  padding: 20px 40px;
  border: 3px solid  black;
  border-radius: 20px;
}
